body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.color-one {

    background: linear-gradient(90deg, #8F3A12, #C85A1E, #F2A43A);

}

.gif-fundo {

    min-height: 100vh;

    background-image: url("../img/fundo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.tamanho-fundo {
    min-height: 38rem;
}

.fade {
    opacity: 0;
    animation-delay: 1s;
    animation: fade 2s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.borda-dinamica {
    position: relative;
    cursor: pointer;
}

.borda-dinamica:hover {
    opacity: 0.7;
}

.borda-dinamica::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.borda-dinamica:focus::after,
.borda-dinamica:hover::after,
.borda-dinamica.active::after
 {
    width: 100%;
}