.color-one {

    background: linear-gradient(90deg, #8F3A12, #C85A1E, #F2A43A);

}
.gif-fundo{

    min-height: 100vh;

    background-image: url("../img/fundo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.tamanho-fundo{
    min-height: 40rem;
}