.color-one {

    /*background: linear-gradient(90deg, #A84314, #E06B1F, #FFB347);*/
    background: linear-gradient(90deg, #8F3A12, #C85A1E, #F2A43A);
    /*box-shadow: inset 0 0 25px rgba(255, 180, 90, 0.6);*/

}